.h1-heading,.Body
{
	font-family: josefin-sans-n4, sans-serif;
}

.Subhead
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

.Quote,.description
{
	font-family: pt-sans-i4, sans-serif;
}

.h4-heading,.body1
{
	font-family: pt-sans-n4, sans-serif;
}

.h2-heading,.link,.menu,.button,.Button2
{
	font-family: pt-sans-n7, sans-serif;
}

.h3-heading,.h5-heading,.h6-heading
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.heading-3
{
	font-family: maven-pro-n7, sans-serif;
}

#u195-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u8342-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u8348-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u8355-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u8361-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u8368-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u8379-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u8386-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u15397-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u181-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u8462-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u8796-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u204-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u15185-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u6985-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u6966-6
{
	font-family: pt-sans-i4, sans-serif;
}

#u3087-4,#u14625-4,#u14626-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u6984-5,#u6986-7,#u6987-5
{
	font-family: open-sans-n4, sans-serif;
}

#u14084-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u17206-4,#u17231-4,#u17213-4,#u17215-4,#u17241-4,#u17234-4,#u17166-4,#u17167-4,#u17135-4,#u17128-4,#u17164-4,#u17130-4,#u17160-4,#u17142-4,#u17088-4,#u17105-4,#u17087-4,#u17109-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u17237-4,#u17218-4,#u17222-4,#u17233-4,#u17202-4,#u17227-4,#u17150-4,#u17158-4,#u17140-4,#u17165-4,#u17185-4,#u17133-4,#u17154-4,#u17170-4,#u17085-4,#u17098-4,#u17093-4,#u17102-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u14670-6
{
	font-family: josefin-sans-i4, sans-serif;
}

