.h1-heading,.Body
{
	font-family: josefin-sans-n4, sans-serif;
}

.Subhead
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

.Quote,.description
{
	font-family: pt-sans-i4, sans-serif;
}

.h4-heading,.body1
{
	font-family: pt-sans-n4, sans-serif;
}

.h2-heading,.link,.menu,.button,.Button2
{
	font-family: pt-sans-n7, sans-serif;
}

.h3-heading,.h5-heading,.h6-heading
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.heading-3
{
	font-family: maven-pro-n7, sans-serif;
}

#u195-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u8342-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u8348-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u8355-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u8361-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u8368-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u8379-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u8386-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u15397-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u181-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u8462-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u8796-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u204-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u15185-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u6985-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u6966-6
{
	font-family: pt-sans-i4, sans-serif;
}

#u3087-4,#u14625-4,#u14626-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u6984-5,#u6986-7,#u6987-5
{
	font-family: open-sans-n4, sans-serif;
}

