@-ms-viewport
{
	width: 758px;
}

@-webkit-viewport
{
	width: 758px;
}

@-o-viewport
{
	width: 758px;
}

@-moz-viewport
{
	width: 758px;
}

@viewport
{
	width: 758px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 758px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u25456
{
	z-index: 4;
	width: 1200px;
	position: fixed;
	top: -118px;
	left: -219px;
}

#u18905
{
	z-index: 200;
	width: 758px;
}

#u19026-4
{
	z-index: 290;
	width: 178px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 31px;
}

#menuu18906
{
	z-index: 201;
	width: 394px;
	margin-right: -10000px;
	left: 334px;
}

#u18928
{
	width: 55px;
	min-height: 64px;
	margin-right: -10000px;
}

#u18929
{
	width: 55px;
	padding-bottom: 46px;
}

#u18929:hover
{
	margin: 0px;
}

#u18932-4
{
	width: 34px;
	min-height: 18px;
	margin-right: -10000px;
	top: 23px;
	left: 10px;
}

#u18929:hover #u18932-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u18935
{
	width: 87px;
	min-height: 64px;
	margin-right: -10000px;
	left: 57px;
}

#u18936
{
	width: 87px;
	padding-bottom: 46px;
}

#u18929.MuseMenuActive,#u18936:hover
{
	margin: 0px;
}

#u18937-4
{
	width: 66px;
	min-height: 18px;
	margin-right: -10000px;
	top: 23px;
	left: 10px;
}

#u18929.MuseMenuActive #u18932-4,#u18936:hover #u18937-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u18950
{
	width: 152px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u18950:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u18953-4
{
	width: 54px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 10px;
	left: 45px;
}

#u18950:hover #u18953-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u18973
{
	width: 152px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u18950.MuseMenuActive,#u18973:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u18974-4
{
	width: 54px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 10px;
	left: 45px;
}

#u18950.MuseMenuActive #u18953-4,#u18973:hover #u18974-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u18978
{
	width: 152px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u18973.MuseMenuActive,#u18978:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u18980-4
{
	width: 54px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 10px;
	left: 45px;
}

#u18973.MuseMenuActive #u18974-4,#u18978:hover #u18980-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u18943
{
	width: 152px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u18978.MuseMenuActive,#u18943:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u18945-4
{
	width: 82px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 10px;
	left: 31px;
}

#u18978.MuseMenuActive #u18980-4,#u18943:hover #u18945-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u18966
{
	width: 152px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u18943.MuseMenuActive,#u18966:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u18969-4
{
	width: 92px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 10px;
	left: 26px;
}

#u18943.MuseMenuActive #u18945-4,#u18966:hover #u18969-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u18957
{
	width: 152px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u18966.MuseMenuActive,#u18957:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u18958-4
{
	width: 93px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 26px;
}

#u18966.MuseMenuActive #u18969-4,#u18957:hover #u18958-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u18957.MuseMenuActive #u18958-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u18907
{
	width: 52px;
	min-height: 64px;
	margin-right: -10000px;
	left: 146px;
}

#u18908
{
	width: 52px;
	padding-bottom: 46px;
}

#u18936.MuseMenuActive,#u18908:hover
{
	margin: 0px;
}

#u18909-4
{
	width: 31px;
	min-height: 18px;
	margin-right: -10000px;
	top: 23px;
	left: 10px;
}

#u18936.MuseMenuActive #u18937-4,#u18908:hover #u18909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u18998
{
	width: 57px;
	min-height: 64px;
	margin-right: -10000px;
	left: 200px;
}

#u18999
{
	width: 57px;
	padding-bottom: 46px;
}

#u18908.MuseMenuActive,#u18999:hover
{
	margin: 0px;
}

#u19001-4
{
	width: 36px;
	min-height: 18px;
	margin-right: -10000px;
	top: 23px;
	left: 10px;
}

#u18908.MuseMenuActive #u18909-4,#u18999:hover #u19001-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u18940,#u19003
{
	width: 152px;
	top: 64px;
}

#u18941,#u18949,#u18970,#u18977,#u18942,#u18963,#u18956,#u19004
{
	width: 152px;
}

#u19004:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u19006
{
	width: 152px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u18957.MuseMenuActive,#u19006:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u19008-4
{
	width: 48px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 48px;
}

#u19006:hover #u19008-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u19005,#u19019
{
	width: 152px;
}

#u19020
{
	width: 152px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u19006.MuseMenuActive,#u19020:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u19020.MuseMenuActive
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u19021-4
{
	width: 42px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 51px;
}

#u19006.MuseMenuActive #u19008-4,#u19020:hover #u19021-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u19020.MuseMenuActive #u19021-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u18991
{
	width: 60px;
	min-height: 64px;
	margin-right: -10000px;
	left: 259px;
}

#u18994
{
	width: 60px;
	padding-bottom: 46px;
}

#u18999.MuseMenuActive,#u18994:hover
{
	margin: 0px;
}

#u18997-4
{
	width: 39px;
	min-height: 18px;
	margin-right: -10000px;
	top: 23px;
	left: 10px;
}

#u18999.MuseMenuActive #u19001-4,#u18994:hover #u18997-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u18984
{
	width: 73px;
	min-height: 64px;
	margin-right: -10000px;
	left: 321px;
}

#u18987
{
	width: 73px;
	padding-bottom: 46px;
}

#u18994.MuseMenuActive,#u18987:hover
{
	margin: 0px;
}

#u18987.MuseMenuActive
{
	margin: 0px;
}

#u18990-4
{
	width: 53px;
	min-height: 18px;
	margin-right: -10000px;
	top: 23px;
	left: 10px;
}

#u18994.MuseMenuActive #u18997-4,#u18987:hover #u18990-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u18987.MuseMenuActive #u18990-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#pu19100
{
	width: 0.01px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u19100
{
	z-index: 7;
	width: 758px;
	height: 284px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/pattern1-u19100-fr.png") repeat left top;
}

#u19102
{
	z-index: 9;
	width: 697px;
	border-color: #000000;
	background-color: #6B7784;
	background-color: rgba(44, 62, 80, 0.7);
	position: relative;
	margin-right: -10000px;
	padding: 102px 29px 105.05000000000103px 31px;
	-pie-background: rgba(44, 62, 80, 0.7);
}

#u19106-4
{
	z-index: 13;
	width: 697px;
	min-height: 49px;
	color: #FFFFFF;
	position: relative;
}

#u19104
{
	z-index: 11;
	width: 697px;
	height: 3px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 14px;
	position: relative;
}

#u19134
{
	z-index: 26;
	width: 758px;
	border-color: #7F7F7F;
	background-color: #E4DCD7;
	padding-bottom: 156px;
	position: relative;
	top: -4px;
	margin-bottom: -4px;
}

#pu25526
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 166px;
	left: 31px;
}

#u25526
{
	z-index: 129;
	width: 343px;
	position: relative;
}

#u19154
{
	z-index: 73;
	width: 339px;
	height: 2px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 1px;
	margin-top: 29px;
	position: relative;
}

#u19156-6
{
	z-index: 75;
	width: 340px;
	min-height: 86px;
	font-size: 43px;
	color: #FFFFFF;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-top: 28px;
	position: relative;
}

#u19156-2
{
	letter-spacing: 5px;
}

#u19155
{
	z-index: 74;
	width: 339px;
	height: 2px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 15px;
	position: relative;
}

#pu19151-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	left: 414px;
}

#u19151-4
{
	z-index: 61;
	width: 314px;
	min-height: 30px;
	position: relative;
}

#u19148-4
{
	z-index: 49;
	width: 314px;
	min-height: 146px;
	font-size: 11px;
	text-align: justify;
	position: relative;
}

#u19152-4
{
	z-index: 65;
	width: 314px;
	min-height: 30px;
	margin-top: 24px;
	position: relative;
}

#u19150-4
{
	z-index: 57;
	width: 314px;
	min-height: 113px;
	font-size: 11px;
	text-align: justify;
	margin-top: 1px;
	position: relative;
}

#u19153-4
{
	z-index: 69;
	width: 314px;
	min-height: 30px;
	margin-top: 15px;
	position: relative;
}

#u19149-4
{
	z-index: 53;
	width: 314px;
	min-height: 119px;
	font-size: 11px;
	text-align: justify;
	margin-top: 3px;
	position: relative;
}

#u19133
{
	z-index: 25;
	width: 758px;
	border-color: #7F7F7F;
	background-color: #F2F2F2;
	padding-bottom: 102px;
	position: relative;
	top: -8px;
	margin-bottom: -8px;
}

#pu19147-4
{
	width: 0.01px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 31px;
}

#u19147-4
{
	z-index: 45;
	width: 264px;
	min-height: 30px;
	position: relative;
}

#u19137
{
	z-index: 27;
	width: 340px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	margin-top: 10px;
	position: relative;
}

#u25531
{
	z-index: 131;
	width: 116px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 8px;
}

#pu19139-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 132px;
}

#u19139-4
{
	z-index: 29;
	width: 192px;
	min-height: 120px;
	font-size: 12px;
	color: #34495E;
	text-align: justify;
	position: relative;
}

#u19141-4
{
	z-index: 37;
	width: 208px;
	min-height: 30px;
	text-align: left;
	margin-top: 14px;
	position: relative;
}

#u19138
{
	z-index: 28;
	width: 342px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
	left: 387px;
}

#u25536
{
	z-index: 133;
	width: 116px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 9px;
}

#pu19140-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 134px;
}

#u19140-4
{
	z-index: 33;
	width: 193px;
	min-height: 120px;
	font-size: 12px;
	color: #34495E;
	text-align: justify;
	position: relative;
}

#u19142-4
{
	z-index: 41;
	width: 208px;
	min-height: 30px;
	text-align: left;
	margin-top: 14px;
	position: relative;
}

#u25459
{
	z-index: 2;
	width: 1200px;
	position: fixed;
	top: 1378px;
	left: -221px;
}

#pu19101
{
	width: 0.01px;
	position: relative;
}

#u19101
{
	z-index: 8;
	width: 758px;
	height: 284px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/pattern1-u19101-fr.png") repeat left top;
}

#u19103
{
	z-index: 10;
	width: 698px;
	border-color: #000000;
	background-color: #6B7784;
	background-color: rgba(44, 62, 80, 0.7);
	position: relative;
	margin-right: -10000px;
	padding: 101px 29px 105.25000000000091px 31px;
	-pie-background: rgba(44, 62, 80, 0.7);
}

#u19107-4
{
	z-index: 17;
	width: 697px;
	min-height: 49px;
	color: #FFFFFF;
	position: relative;
}

#u19105
{
	z-index: 12;
	width: 697px;
	height: 3px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 1px;
	margin-top: 15px;
	position: relative;
}

#u19216
{
	z-index: 6;
	width: 758px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 165px;
	position: relative;
}

#pu19109
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 31px;
}

#u19109
{
	z-index: 21;
	width: 341px;
	border-color: #000000;
	background-color: #F2F2F2;
	padding-bottom: 58px;
	position: relative;
}

#u25539
{
	z-index: 135;
	width: 166px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 5px;
}

#pu19191-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 178px;
}

#u19191-4
{
	z-index: 81;
	width: 162px;
	min-height: 17px;
	position: relative;
}

#u19195-4
{
	z-index: 97;
	width: 162px;
	min-height: 17px;
	margin-left: 1px;
	margin-top: 2px;
	position: relative;
}

#u19199-4
{
	z-index: 113;
	width: 158px;
	min-height: 86px;
	margin-left: 1px;
	margin-top: 20px;
	position: relative;
}

#u19112
{
	z-index: 24;
	width: 341px;
	border-color: #000000;
	background-color: #F2F2F2;
	padding-bottom: 55px;
	margin-top: 30px;
	position: relative;
}

#u25547
{
	z-index: 139;
	width: 166px;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 5px;
}

#pu19192-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
	left: 178px;
}

#u19192-4
{
	z-index: 85;
	width: 159px;
	min-height: 17px;
	position: relative;
}

#u19196-4
{
	z-index: 101;
	width: 159px;
	min-height: 17px;
	margin-left: 1px;
	margin-top: 2px;
	position: relative;
}

#u19200-4
{
	z-index: 117;
	width: 158px;
	min-height: 69px;
	margin-left: 1px;
	margin-top: 20px;
	position: relative;
}

#pu19110
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 387px;
}

#u19110
{
	z-index: 22;
	width: 339px;
	border-color: #000000;
	background-color: #F2F2F2;
	padding-bottom: 58px;
	margin-left: 2px;
	position: relative;
}

#u25556
{
	z-index: 137;
	width: 166px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 2px;
}

#pu19193-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 176px;
}

#u19193-4
{
	z-index: 89;
	width: 161px;
	min-height: 17px;
	position: relative;
}

#u19197-4
{
	z-index: 105;
	width: 161px;
	min-height: 17px;
	margin-left: 1px;
	margin-top: 2px;
	position: relative;
}

#u19201-4
{
	z-index: 121;
	width: 152px;
	min-height: 69px;
	margin-left: 1px;
	margin-top: 20px;
	position: relative;
}

#u19111
{
	z-index: 23;
	width: 339px;
	border-color: #000000;
	background-color: #F2F2F2;
	padding-bottom: 55px;
	margin-top: 30px;
	position: relative;
}

#u25559
{
	z-index: 141;
	width: 166px;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 4px;
}

#pu19194-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
	left: 179px;
}

#u19194-4
{
	z-index: 93;
	width: 162px;
	min-height: 17px;
	position: relative;
}

#u19198-4
{
	z-index: 109;
	width: 162px;
	min-height: 17px;
	margin-top: 2px;
	position: relative;
}

#u19202-4
{
	z-index: 125;
	width: 155px;
	min-height: 69px;
	margin-top: 20px;
	position: relative;
}

#pu18869
{
	width: 0.01px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u18869
{
	z-index: 143;
	width: 585px;
	margin-right: -10000px;
	padding: 95px 69px 106.43083708873473px 104px;
}

#u18885-4
{
	z-index: 164;
	width: 330px;
	min-height: 21px;
	margin-left: 2px;
}

#u18889-4
{
	z-index: 181;
	width: 324px;
	min-height: 151px;
	margin-left: 1px;
	margin-top: 15px;
}

#pu18886-4
{
	width: 0.01px;
	margin-top: 22px;
	position: relative;
}

#u18886-4
{
	z-index: 168;
	width: 248px;
	min-height: 21px;
	margin-right: -10000px;
}

#u18887-4
{
	z-index: 172;
	width: 248px;
	min-height: 21px;
	margin-right: -10000px;
	left: 283px;
}

#u18888-5
{
	z-index: 176;
	width: 302px;
	min-height: 20px;
	margin-left: 283px;
	margin-top: 23px;
}

#u18892
{
	z-index: 197;
	width: 272px;
	height: 1px;
	margin-left: 283px;
	margin-top: 3px;
}

#u18890-7
{
	z-index: 185;
	width: 302px;
	min-height: 20px;
	margin-left: 283px;
	margin-top: 11px;
}

#u18893
{
	z-index: 198;
	width: 272px;
	height: 1px;
	margin-left: 284px;
	margin-top: 4px;
}

#u18891-5
{
	z-index: 192;
	width: 302px;
	min-height: 20px;
	margin-left: 283px;
	margin-top: 11px;
}

#pu18871
{
	width: 0.01px;
	margin-left: 285px;
	margin-top: 11px;
	position: relative;
}

#u18871
{
	z-index: 150;
	width: 18px;
	margin-right: -10000px;
}

#u18871_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u18877
{
	z-index: 156;
	width: 18px;
	margin-right: -10000px;
	left: 22px;
}

#u18877_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u18873
{
	z-index: 152;
	width: 18px;
	margin-right: -10000px;
	left: 43px;
}

#u18873_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u18875
{
	z-index: 154;
	width: 18px;
	margin-right: -10000px;
	left: 65px;
}

#u18875_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u18879
{
	z-index: 158;
	width: 18px;
	margin-right: -10000px;
	left: 87px;
}

#u18879_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u18881
{
	z-index: 160;
	width: 18px;
	margin-right: -10000px;
	left: 108px;
}

#u18881_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u18883
{
	z-index: 162;
	width: 18px;
	margin-right: -10000px;
	left: 130px;
}

#u18871:hover,#u18877:hover,#u18873:hover,#u18875:hover,#u18879:hover,#u18881:hover,#u18883:hover
{
	margin: 0px -10000px 0px 0px;
}

#u18883_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u18870-6
{
	z-index: 144;
	width: 321px;
	min-height: 11px;
	margin-top: 71px;
}

#u18894
{
	z-index: 199;
	width: 300px;
	min-height: 169px;
	margin-right: -10000px;
	margin-top: 364px;
	left: 105px;
}

#page .verticalspacer
{
	clear: both;
}

