.h1-heading,.Body
{
	font-family: josefin-sans-n4, sans-serif;
}

.Subhead
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

.Quote,.description
{
	font-family: pt-sans-i4, sans-serif;
}

.h4-heading,.body1
{
	font-family: pt-sans-n4, sans-serif;
}

.h2-heading,.link,.menu,.button,.Button2
{
	font-family: pt-sans-n7, sans-serif;
}

.h3-heading,.h5-heading,.h6-heading
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.heading-3
{
	font-family: maven-pro-n7, sans-serif;
}

#u19026-4,#u18932-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u18937-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u18953-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u18974-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u18980-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u18945-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u18969-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u18958-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u18909-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u19001-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u19008-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u19021-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u18997-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u18990-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u18889-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u18886-4,#u18887-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u18888-5,#u18890-7,#u18891-5
{
	font-family: open-sans-n4, sans-serif;
}

#u18870-6
{
	font-family: pt-sans-i4, sans-serif;
}

