@-ms-viewport
{
	width: 758px;
}

@-webkit-viewport
{
	width: 758px;
}

@-o-viewport
{
	width: 758px;
}

@-moz-viewport
{
	width: 758px;
}

@viewport
{
	width: 758px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 758px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u25471
{
	z-index: 15;
	width: 1200px;
	position: fixed;
	top: -118px;
	left: -220px;
}

#u18905
{
	z-index: 204;
	width: 758px;
}

#u19026-4
{
	z-index: 294;
	width: 178px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 31px;
}

#menuu18906
{
	z-index: 205;
	width: 394px;
	margin-right: -10000px;
	left: 334px;
}

#u18928
{
	width: 55px;
	min-height: 64px;
	margin-right: -10000px;
}

#u18929
{
	width: 55px;
	padding-bottom: 46px;
}

#u18929:hover
{
	margin: 0px;
}

#u18932-4
{
	width: 34px;
	min-height: 18px;
	margin-right: -10000px;
	top: 23px;
	left: 10px;
}

#u18929:hover #u18932-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u18935
{
	width: 87px;
	min-height: 64px;
	margin-right: -10000px;
	left: 57px;
}

#u18936
{
	width: 87px;
	padding-bottom: 46px;
}

#u18929.MuseMenuActive,#u18936:hover
{
	margin: 0px;
}

#u18937-4
{
	width: 66px;
	min-height: 18px;
	margin-right: -10000px;
	top: 23px;
	left: 10px;
}

#u18929.MuseMenuActive #u18932-4,#u18936:hover #u18937-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u18950
{
	width: 152px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u18950:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u18953-4
{
	width: 54px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 10px;
	left: 45px;
}

#u18950:hover #u18953-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u18973
{
	width: 152px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u18950.MuseMenuActive,#u18973:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u18974-4
{
	width: 54px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 10px;
	left: 45px;
}

#u18950.MuseMenuActive #u18953-4,#u18973:hover #u18974-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u18978
{
	width: 152px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u18973.MuseMenuActive,#u18978:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u18980-4
{
	width: 54px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 10px;
	left: 45px;
}

#u18973.MuseMenuActive #u18974-4,#u18978:hover #u18980-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u18943
{
	width: 152px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u18978.MuseMenuActive,#u18943:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u18945-4
{
	width: 82px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 10px;
	left: 31px;
}

#u18978.MuseMenuActive #u18980-4,#u18943:hover #u18945-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u18966
{
	width: 152px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u18943.MuseMenuActive,#u18966:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u18969-4
{
	width: 92px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 10px;
	left: 26px;
}

#u18943.MuseMenuActive #u18945-4,#u18966:hover #u18969-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u18957
{
	width: 152px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u18966.MuseMenuActive,#u18957:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u18958-4
{
	width: 93px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 26px;
}

#u18966.MuseMenuActive #u18969-4,#u18957:hover #u18958-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u18957.MuseMenuActive #u18958-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u18907
{
	width: 52px;
	min-height: 64px;
	margin-right: -10000px;
	left: 146px;
}

#u18908
{
	width: 52px;
	padding-bottom: 46px;
}

#u18936.MuseMenuActive,#u18908:hover
{
	margin: 0px;
}

#u18909-4
{
	width: 31px;
	min-height: 18px;
	margin-right: -10000px;
	top: 23px;
	left: 10px;
}

#u18936.MuseMenuActive #u18937-4,#u18908:hover #u18909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u18998
{
	width: 57px;
	min-height: 64px;
	margin-right: -10000px;
	left: 200px;
}

#u18999
{
	width: 57px;
	padding-bottom: 46px;
}

#u18908.MuseMenuActive,#u18999:hover
{
	margin: 0px;
}

#u19001-4
{
	width: 36px;
	min-height: 18px;
	margin-right: -10000px;
	top: 23px;
	left: 10px;
}

#u18908.MuseMenuActive #u18909-4,#u18999:hover #u19001-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u18940,#u19003
{
	width: 152px;
	top: 64px;
}

#u18941,#u18949,#u18970,#u18977,#u18942,#u18963,#u18956,#u19004
{
	width: 152px;
}

#u19004:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u19006
{
	width: 152px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u18957.MuseMenuActive,#u19006:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u19008-4
{
	width: 48px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 48px;
}

#u19006:hover #u19008-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u19005,#u19019
{
	width: 152px;
}

#u19020
{
	width: 152px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u19006.MuseMenuActive,#u19020:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u19020.MuseMenuActive
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u19021-4
{
	width: 42px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 51px;
}

#u19006.MuseMenuActive #u19008-4,#u19020:hover #u19021-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u19020.MuseMenuActive #u19021-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u18991
{
	width: 60px;
	min-height: 64px;
	margin-right: -10000px;
	left: 259px;
}

#u18994
{
	width: 60px;
	padding-bottom: 46px;
}

#u18999.MuseMenuActive,#u18994:hover
{
	margin: 0px;
}

#u18997-4
{
	width: 39px;
	min-height: 18px;
	margin-right: -10000px;
	top: 23px;
	left: 10px;
}

#u18999.MuseMenuActive #u19001-4,#u18994:hover #u18997-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u18984
{
	width: 73px;
	min-height: 64px;
	margin-right: -10000px;
	left: 321px;
}

#u18987
{
	width: 73px;
	padding-bottom: 46px;
}

#u18994.MuseMenuActive,#u18987:hover
{
	margin: 0px;
}

#u18987.MuseMenuActive
{
	margin: 0px;
}

#u18990-4
{
	width: 53px;
	min-height: 18px;
	margin-right: -10000px;
	top: 23px;
	left: 10px;
}

#u18994.MuseMenuActive #u18997-4,#u18987:hover #u18990-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u18987.MuseMenuActive #u18990-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#pu19704
{
	width: 0.01px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u19704
{
	z-index: 18;
	width: 758px;
	height: 284px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/pattern1-u19704-fr.png") repeat left top;
}

#u19705
{
	z-index: 19;
	width: 697px;
	border-color: #000000;
	background-color: #6B7784;
	background-color: rgba(44, 62, 80, 0.7);
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	padding: 100px 30px 105.10000000000036px 31px;
	-pie-background: rgba(44, 62, 80, 0.7);
}

#u19707-4
{
	z-index: 21;
	width: 695px;
	min-height: 49px;
	color: #FFFFFF;
	position: relative;
}

#u19706
{
	z-index: 20;
	width: 696px;
	height: 3px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 16px;
	position: relative;
}

#u19708
{
	z-index: 17;
	width: 701px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 176px 26px 169px 31px;
}

#u25623
{
	z-index: 145;
	width: 308px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#pu19756-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 356px;
}

#u19756-4
{
	z-index: 83;
	width: 341px;
	min-height: 63px;
	font-size: 35px;
	position: relative;
}

#u19718
{
	z-index: 37;
	width: 341px;
	height: 3px;
	border-color: #000000;
	background-color: #E5E5E5;
	margin-top: 10px;
	position: relative;
}

#u19710
{
	z-index: 25;
	width: 341px;
	border-color: #7F7F7F;
	background-color: #E5E5E5;
	padding-bottom: 30px;
	margin-top: 29px;
	position: relative;
}

#u19712-4
{
	z-index: 30;
	width: 168px;
	min-height: 22px;
	border-width: 3px;
	border-style: solid;
	border-color: #EB5055;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 155px;
}

#u19712-4:hover
{
	border-color: #34495E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 168px;
	margin: 29px -10000px 0px 0px;
}

#u19712-4:hover p
{
	color: #34495E;
	visibility: inherit;
}

#u19712-2
{
	color: #EB5055;
}

#u19757-4
{
	z-index: 87;
	width: 248px;
	min-height: 30px;
	margin-top: 29px;
	position: relative;
}

#u19716
{
	z-index: 35;
	width: 341px;
	height: 3px;
	border-color: #000000;
	background-color: #E5E5E5;
	margin-top: 8px;
	position: relative;
}

#u19711-4
{
	z-index: 26;
	width: 345px;
	min-height: 127px;
	font-size: 11px;
	text-align: justify;
	margin-top: 17px;
	position: relative;
}

#u19717
{
	z-index: 36;
	width: 341px;
	height: 3px;
	border-color: #000000;
	background-color: #E5E5E5;
	margin-left: 356px;
	top: -4px;
	margin-bottom: -3px;
	position: relative;
}

#u19760-14
{
	z-index: 99;
	width: 341px;
	min-height: 121px;
	margin-left: 356px;
	margin-top: 14px;
	position: relative;
}

#u19758-4
{
	z-index: 91;
	width: 248px;
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 591px;
	left: 387px;
}

#u19759-4
{
	z-index: 95;
	width: 141px;
	min-height: 30px;
	font-size: 30px;
	color: #EB5055;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 309px;
	left: 402px;
}

#pu19708,#pu25623,#pu19709
{
	width: 0.01px;
	position: relative;
}

#u19709
{
	z-index: 2;
	width: 698px;
	border-color: #7F7F7F;
	background-color: #F2F2F2;
	position: relative;
	margin-right: -10000px;
	padding: 108px 30px 109px;
}

#u19755-4
{
	z-index: 79;
	width: 248px;
	min-height: 30px;
	position: relative;
}

#u19715
{
	z-index: 34;
	width: 697px;
	height: 3px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 9px;
	position: relative;
}

#pu19720
{
	width: 0.01px;
	margin-top: 17px;
	position: relative;
}

#u19720
{
	z-index: 4;
	width: 162px;
	border-style: solid;
	border-color: #E5E5E5;
	background-color: #FFFFFF;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 1px 3px;
}

#u25641
{
	z-index: 13;
	width: 164px;
	left: -1px;
	position: relative;
}

#u19738-4
{
	z-index: 125;
	width: 165px;
	min-height: 17px;
	font-size: 15px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u19735-4
{
	z-index: 113;
	width: 164px;
	min-height: 17px;
	font-size: 9px;
	left: -1px;
	margin-top: 1px;
	position: relative;
}

#u19741
{
	z-index: 59;
	width: 116px;
	height: 3px;
	border-color: #000000;
	background-color: #F2F2F2;
	margin-left: 23px;
	margin-top: 1px;
	position: relative;
}

#u19744-4
{
	z-index: 62;
	width: 110px;
	min-height: 22px;
	border-width: 3px;
	border-style: solid;
	border-color: #D1C9C4;
	background-color: transparent;
	margin-left: 23px;
	margin-top: 8px;
	position: relative;
}

#u19721
{
	z-index: 5;
	width: 163px;
	border-style: solid;
	border-color: #E5E5E5;
	background-color: #FFFFFF;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	left: 178px;
	border-width: 0px 1px 3px;
}

#u25633
{
	z-index: 7;
	width: 164px;
	left: -1px;
	position: relative;
}

#u19739-4
{
	z-index: 129;
	width: 165px;
	min-height: 17px;
	font-size: 15px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	left: -1px;
	margin-top: 9px;
	position: relative;
}

#u19736-4
{
	z-index: 117;
	width: 164px;
	min-height: 17px;
	font-size: 9px;
	left: -1px;
	margin-top: 1px;
	position: relative;
}

#u19742
{
	z-index: 60;
	width: 116px;
	height: 3px;
	border-color: #000000;
	background-color: #F2F2F2;
	margin-left: 23px;
	margin-top: 1px;
	position: relative;
}

#u19745-4
{
	z-index: 66;
	width: 110px;
	min-height: 22px;
	border-width: 3px;
	border-style: solid;
	border-color: #D1C9C4;
	background-color: transparent;
	margin-left: 23px;
	margin-top: 8px;
	position: relative;
}

#u19744-4:hover,#u19745-4:hover
{
	border-color: #EB5055;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 110px;
	margin: 8px 0px 0px 23px;
}

#u19722
{
	z-index: 6;
	width: 162px;
	border-style: solid;
	border-color: #E5E5E5;
	background-color: #FFFFFF;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	left: 356px;
	border-width: 0px 1px 3px;
}

#u25644
{
	z-index: 9;
	width: 164px;
	left: -1px;
	position: relative;
}

#u19740-4
{
	z-index: 133;
	width: 163px;
	min-height: 17px;
	font-size: 15px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	left: -1px;
	margin-top: 9px;
	position: relative;
}

#u19737-4
{
	z-index: 121;
	width: 164px;
	min-height: 17px;
	font-size: 9px;
	left: -1px;
	margin-top: 1px;
	position: relative;
}

#u19743
{
	z-index: 61;
	width: 116px;
	height: 3px;
	border-color: #000000;
	background-color: #F2F2F2;
	margin-left: 25px;
	margin-top: 1px;
	position: relative;
}

#u19746-4
{
	z-index: 70;
	width: 110px;
	min-height: 22px;
	border-width: 3px;
	border-style: solid;
	border-color: #D1C9C4;
	background-color: transparent;
	margin-left: 25px;
	margin-top: 8px;
	position: relative;
}

#u19746-4:hover
{
	border-color: #EB5055;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 110px;
	margin: 8px 0px 0px 25px;
}

#u19747
{
	z-index: 3;
	width: 163px;
	border-style: solid;
	border-color: #E5E5E5;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	left: 534px;
	border-width: 0px 1px 3px;
}

#u19720_position_content,#u19721_position_content,#u19722_position_content,#u19747_position_content
{
	margin-bottom: 8px;
}

#u25647
{
	z-index: 11;
	width: 164px;
	left: -1px;
	position: relative;
}

#u19752-4
{
	z-index: 141;
	width: 165px;
	min-height: 17px;
	font-size: 15px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	left: -3px;
	margin-top: 10px;
	position: relative;
}

#u19751-4
{
	z-index: 137;
	width: 164px;
	min-height: 17px;
	font-size: 9px;
	left: -3px;
	position: relative;
}

#u19753
{
	z-index: 74;
	width: 116px;
	height: 3px;
	border-color: #000000;
	background-color: #F2F2F2;
	margin-left: 24px;
	margin-top: 2px;
	position: relative;
}

#u19754-4
{
	z-index: 75;
	width: 110px;
	min-height: 22px;
	border-width: 3px;
	border-style: solid;
	border-color: #D1C9C4;
	background-color: transparent;
	margin-left: 24px;
	margin-top: 7px;
	position: relative;
}

#u19754-4:hover
{
	border-color: #EB5055;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 110px;
	margin: 7px 0px 0px 24px;
}

#u19744-4:hover p,#u19745-4:hover p,#u19746-4:hover p,#u19754-4:hover p
{
	color: #EB5055;
	visibility: inherit;
}

#u19744-2,#u19745-2,#u19746-2,#u19754-2
{
	font-size: 15px;
	color: #D1C9C4;
}

#u19719
{
	z-index: 38;
	width: 697px;
	height: 3px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 20px;
	position: relative;
}

#u19729
{
	z-index: 39;
	width: 34px;
	border-color: #000000;
	background-color: #EB5055;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 30px;
}

#u19732-4
{
	z-index: 43;
	width: 28px;
	min-height: 25px;
	font-size: 20px;
	color: #FFFFFF;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 6px;
}

#u19772
{
	z-index: 40;
	width: 34px;
	border-color: #000000;
	background-color: #EB5055;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 208px;
}

#u19771-4
{
	z-index: 47;
	width: 28px;
	min-height: 25px;
	font-size: 20px;
	color: #FFFFFF;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 6px;
}

#u19774
{
	z-index: 41;
	width: 34px;
	border-color: #000000;
	background-color: #EB5055;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 386px;
}

#u19773-4
{
	z-index: 51;
	width: 28px;
	min-height: 25px;
	font-size: 20px;
	color: #FFFFFF;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 6px;
}

#u19776
{
	z-index: 42;
	width: 34px;
	border-color: #000000;
	background-color: #EB5055;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 565px;
}

#u19775-4
{
	z-index: 55;
	width: 28px;
	min-height: 25px;
	font-size: 20px;
	color: #FFFFFF;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 6px;
}

#pu18869
{
	width: 0.01px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u18869
{
	z-index: 147;
	width: 585px;
	margin-right: -10000px;
	padding: 95px 69px 106.4308370887345px 104px;
}

#u18885-4
{
	z-index: 168;
	width: 330px;
	min-height: 21px;
	margin-left: 2px;
}

#u18889-4
{
	z-index: 185;
	width: 324px;
	min-height: 151px;
	margin-left: 1px;
	margin-top: 15px;
}

#pu18886-4
{
	width: 0.01px;
	margin-top: 22px;
	position: relative;
}

#u18886-4
{
	z-index: 172;
	width: 248px;
	min-height: 21px;
	margin-right: -10000px;
}

#u18887-4
{
	z-index: 176;
	width: 248px;
	min-height: 21px;
	margin-right: -10000px;
	left: 283px;
}

#u18888-5
{
	z-index: 180;
	width: 302px;
	min-height: 20px;
	margin-left: 283px;
	margin-top: 23px;
}

#u18892
{
	z-index: 201;
	width: 272px;
	height: 1px;
	margin-left: 283px;
	margin-top: 3px;
}

#u18890-7
{
	z-index: 189;
	width: 302px;
	min-height: 20px;
	margin-left: 283px;
	margin-top: 11px;
}

#u18893
{
	z-index: 202;
	width: 272px;
	height: 1px;
	margin-left: 284px;
	margin-top: 4px;
}

#u18891-5
{
	z-index: 196;
	width: 302px;
	min-height: 20px;
	margin-left: 283px;
	margin-top: 11px;
}

#pu18871
{
	width: 0.01px;
	margin-left: 285px;
	margin-top: 11px;
	position: relative;
}

#u18871
{
	z-index: 154;
	width: 18px;
	margin-right: -10000px;
}

#u18871_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u18877
{
	z-index: 160;
	width: 18px;
	margin-right: -10000px;
	left: 22px;
}

#u18877_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u18873
{
	z-index: 156;
	width: 18px;
	margin-right: -10000px;
	left: 43px;
}

#u18873_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u18875
{
	z-index: 158;
	width: 18px;
	margin-right: -10000px;
	left: 65px;
}

#u18875_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u18879
{
	z-index: 162;
	width: 18px;
	margin-right: -10000px;
	left: 87px;
}

#u18879_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u18881
{
	z-index: 164;
	width: 18px;
	margin-right: -10000px;
	left: 108px;
}

#u18881_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u18883
{
	z-index: 166;
	width: 18px;
	margin-right: -10000px;
	left: 130px;
}

#u18871:hover,#u18877:hover,#u18873:hover,#u18875:hover,#u18879:hover,#u18881:hover,#u18883:hover
{
	margin: 0px -10000px 0px 0px;
}

#u18883_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u18870-6
{
	z-index: 148;
	width: 321px;
	min-height: 11px;
	margin-top: 71px;
}

#u18894
{
	z-index: 203;
	width: 300px;
	min-height: 169px;
	margin-right: -10000px;
	margin-top: 364px;
	left: 105px;
}

#page .verticalspacer
{
	clear: both;
}

